html { color-scheme: light dark; }
body { margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif; 
}
/* Give the map a specific height AND width */
#map {
    height: 600px; /* Increased height for better visibility */
    width: 100%;   /* Make it take the full width of its container */
}
#crop-selection {
    outline-color: blue;
    /* margin-top: 50px; */
    position: fixed;
    left: 0; /*adjust this to change its placement*/
    right: 0; /* Move to the right side */
    bottom: 76px; /*adjust this to change its placement*/
    z-index: 1000;
    background: #C1D8C3;
    width: 200px;      /* Set a wider width */
    height: 200px;     /* Set a taller height */
    padding-top: 30px;     /* More internal space */
    padding-left: 10px;     /* More internal space */
    color:black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
#map-types {
    outline-color: blue;
    /* margin-top: 50px; */
    position: fixed;
    left: 0; /*adjust this to change its placement*/
    right: 0; /* Move to the right side */
    top: 280px;
    z-index: 1000;
    background: #C1D8C3;
    width: 200px;      /* Set a wider width */
    height: 135px;     /* Set a taller height */
    padding-top: 30px;     /* More internal space */
    padding-left: 10px;     /* More internal space */
    color:black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
#body-text {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}